*{
    font-family: sans-serif;
}

.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.left {
  left: 0;
}

.right {
  right: 0;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.centered img {
  width: 100%;
}


textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.image-box {
  width: 80%; /* Adjust the width of the box as needed */
  margin: 0 auto; /* Center the box horizontally within the left split */
  border: 2px solid #ccc; /* Add a border around the box */
  border-radius: 8px; /* Add border-radius for rounded corners */
  overflow: hidden; /* Hide any content that overflows the box */
}

.image-box img {
  width: 100%; /* Make the image fill the width of the image-box */
  height: auto; /* Maintain the image aspect ratio */
  display: block; /* Remove any extra spacing below the image */
}